@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-color: #BBD0FF;
  --foreground-color: #E7C6FF;
  --secondary-color: #C8B6FF;
  --accent-color: #FFD6FF;
  --highlight-color: #B8C0FF;
}

header h1 {
  font-size: 2.5em;
}

#mainNav ul{
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

#mainNav ul li {
  font-size: 1.15em;
}

.error-message {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.error-message h1 {
  font-size: 4em;
  font-weight: bold;
}

.error-message p{
  font-size: 2em;
}

header {
  border: 1px solid red;
}

div{
  border: 1px solid red;
}